<div class="Title">
    <h1>C Variables</h1>
</div>
<div class="sub">
    <h4>Let's Start with C Variables</h4>
</div>
<div class="defination">
    <p>In C programming, variables are named,<br>
         storage locations in memory,<br>
          used to store data that can be changed during program execution.</p>
    <p>So We can say that A variable in C <br>
        is a container for storing data values such as integers, <br>
        floating-point numbers, or characters.</p>
</div>

<div class="Rules">
    <p><strong>Rules for Naming Variables:</strong></p>
    <p>1.Must begin with a letter (A–Z or a–z) or an underscore (_)<br>

      2.Cannot start with a digit<br>

      3. Can contain letters, digits, and underscores<br>

      4. No special characters or spaces<br>

        5.Cannot use C keywords (like int, return, float) </p>
</div>

<div class="Examples">
    <p>Let's see a example</p>
   <pre><code class="language-c" ngNonBindable>
  #include &lt;stdio.h&gt;
  int main() &#123;
    int age = 20;
    float height = 5.9;
    char initial = 'J';

    printf("Age: %d\n", age);
    printf("Height: %.1f\n", height);
    printf("Initial: %c\n", initial);

    return 0;
  &#125;
      </code></pre>
</div>