<div class="Main">
    <h1>C Get Started</h1>
</div>
<div class="Title">
    <h2>Get Started With C</h2>
</div>
<div class="Start">
     <h4>Before we Start C programming We Need a Text Editor and a Compiler</h4>
     <p>Text Editor Like sublime text or NotePad</p>
     <p>A Compiler GCC to Translate the C code Into a Language That A Mechine Can UnderStand</p>
</div>
<div class="IDE">
    <P>A IDE(Integrated Development Environment) is Used To edit and complie the C code</P>
    <p>Some Popular IDE is Code::Blocks , Visual Studio</p>
    <p>In My Course I Install Code::Blocks IDE Which is free and Easy To understand For Beginners</p>

</div>
<div class="Stpes">
    <p>To install Code::Blocks ind the latest version of Codeblocks at <a href=" http://www.codeblocks.org/">Click here</a> Download the <strong> mingw-setup.exe file</strong>, which will install the text editor with a compiler.</p>
    <p>Also You Can See <a href="https://www.youtube.com/watch?v=zmT79Ljo0lI">See Install Process.</a> After Installation process We start our first program Let's Start</p>

</div>

<div class="start">
  <p>Open the IDE Code::Blocks</p>
  <p><strong>Step: 1</strong></p>
  <p>Create a new File Like this</p>
  <img src="./assets/course-icon/file.png"class="card-img-top">
  <p><strong>Step: 2</strong></p>
  <p>Give a file Name at the end of the file name give .c extension This extension tells The Compiler tahat is C code.</p>
  <p><strong>There are Some Basic Rules For Create New Files </strong></p>
  <p>1.Must end with .c after The file Name </p>
  <p>2.File Name Should Letter(A-Z) or(a-z) </p>
  <p>3.A File Name with Numbers(0-9) </p>
  <p>4.Can Use UnderScore(_) </p>
  <p>5.Space Are Don't Allow</p>
  <p>6.Special Character Are not Allow </p>
  <img src="./assets/course-icon/filename.png" class="card-img-top">
  <p><strong>Step: 3</strong></p>
  <p>Now write a Our first C program Dont't worry If you don't UnderStand the code I will explain It later </p>
  <p>Write the code That I wite And run this I Indicate how to Run a file</p>
  <img src="./assets/course-icon/p.jpg" class="card-img-top">
  <p><strong>Step: 4 </strong></p>
  <p>Finally Show our OutPut</p>
  <img src="./assets/course-icon/O.png" class="card-img-top">
</div>
