<div class="Title">
    <h1>C OutPut</h1>
    <h4>Let's start with C output</h4>
</div>
<div class="print">
    <p>To see output in c we can use printf() function</p>
</div>
<div class="code">

    <h4>For example</h4>
     <pre><code class="language-c" ngNonBindable>
  #include &lt;stdio.h&gt;
  int main() &#123;
      printf("Hello World");

      return 0;
  &#125;
      </code></pre>
</div>
<div class="doubleqoutes">
    <p>when we print a line like text then we can use Double qoutes mark</p>
    <p>You can see the example.</p>
</div>

<div class="error">
 <p>when you print a text without double qoutes you get a error</p>
</div>

<div class="manyprintfline">
    <p>You can use many printf function as you want</p>
    <p>for example</p>
    <pre><code class="language-c" ngNonBindable>
  #include &lt;stdio.h&gt;
  int main() &#123;
      printf("Hello World");
      printf("hello");
      printf("hi");
      return 0;
  &#125;
      </code></pre>

</div>
<div class="newline">
    <p>For a new line you can use '\n' chacrater </p>
    <p>for Example</p>
    <pre><code class="language-c" ngNonBindable>
        #include &lt;stdio.h &gt;
        int main() &#123;
        printf("hello world\n");
        return 0;
        &#125;
        </code></pre>
        <p>Also you can use multiple newline in a single printf() function</p>
        <p>for example</p>
        <pre><code class="language-c" ngNonBindable>
        #include &lt;stdio.h &gt;
        int main() &#123;
        printf("hello\nworld\n");
        return 0;
        &#125;
        </code></pre>
        <p>You can Run this in your codeblocks IDE then see what happens</p>
</div>