<div class="card-container d-flex flex-wrap">
  <div class="card" style="width: 18rem;">
    <img src= "./assets/course-icon/c.png" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title" >C Programming</h5>
      <button (click)="gotoCprogram()" class="btn btn-primary">Start</button>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <img src="./assets/course-icon/c++.jpg"class="card-img-top">
      <h5 class="card-title">C++</h5>
      <button (click)="gotoCppprogram()" class="btn btn-primary">Start</button>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <img src="./assets/course-icon/images.jpg" class="card-img-top">
      <h5 class="card-title">Competitive Programming</h5>
      <button class="btn btn-primary">Start</button>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="./assets/course-icon/download.jpg">
    <div class="card-body">
      <h5 class="card-title">Data Science</h5>
      <p class="card-text"></p>
      <button class="btn btn-primary">Start</button>
    </div>
  </div>
</div>
