<div class="MainTitle">
    <h1>C Syntax</h1>
</div>
  <div class="subtitle">
    <h4>Let's Start C Syntax</h4>
  </div>
 <div class="content">
    <p>In Previous Section we see a code</p>    
      <pre><code class="language-c" ngNonBindable>
  #include &lt;stdio.h&gt;
  int main() &#123;
      printf("Hello World");

      return 0;
  &#125;
      </code></pre>
  
    <p>Let's Explain This Code Every line in Detail</p>
    </div>
    <div class="Explain">
     <strong>Line 1:</strong>
     #include &it;stdio.h&gt; it is a <strong>header file library</strong>
     <p>That use for input and output Function such as printf() and scanf()</p>
     <strong>Line 2:</strong>
     <p><strong>int main()</strong>it's called main Function any code insidethis function will be execute first</p>
     <strong>Line 3:</strong>
     <p>&#123;  &#125; is called cury bracket defines a block in every program in c</p>
     <strong>Line 4</strong>
     <p>Here  return 0 means ends of the main() function.</p>
     <strong>Here (;) means every C statement end with a semicolon.</strong>
    </div>
 