<div class="sidebar">
    <h1>C Tutorial</h1>
     <ul>
       <li><a href="#">C++ Home</a></li>
       <li><a href="#">C++ Introduction</a></li>
       <li><a href="#">C++ Get Started</a></li>
       <li><a href="#">C++ Syntax</a></li>
       <li><a href="#">C++ Output</a></li>
       <li><a href="#">C++ Comments</a></li>
       <li><a href="#">C++ Variables</a></li>
       <li><a href="#">C++ Data Types</a></li>
       <li><a href="#">C++ withoutUserInput</a></li>
       <li><a href="#">C++ Constants</a></li>
       <li><a href="#">C++ Operators</a></li>
       <li><a href="#">C++ Booleans</a></li>
       <li><a href="#">C++ Switch</a></li>
       <li><a href="#">C++ For Loop</a></li>
       <li><a href="#">C++ While Loop</a></li>
       <li><a href="#">C++ Do While Loop</a></li>
       <li><a href="#">C++ Break/Continue</a></li>
       <li><a href="#">C++ Arrays</a></li>
       <li><a href="#">C++ Strings</a></li>
       <li><a href="#">C++ User Input</a></li>
       <li><a href="#">C++ Memory Address</a></li>
       <li><a href="#">C++ Pointer</a></li>
 
       
     </ul>
     <h1>C Functions</h1>
     <ul>
         <li><a href="#">C++ Functions</a></li>
         <li><a href="#">C++ Function Parameters</a></li>
         <li><a href="#">C++ Recursion</a></li>
         <li><a href="#">C++ Math Fuctions</a></li>
         
     </ul>
     <h1>C++ Classes</h1>
     <ul>
        <li><a href="#">C++ OOP</a></li>
        <li><a href="#">C++ Classes/Object</a></li>
        <li><a href="#">C++ Constructors</a></li>
        <li><a href="#">C++ Access Specifiers</a></li>
        <li><a href="#">C++ Encapsulation</a></li>
        <li><a href="#">C++ Inheritance</a></li>
        <li><a href="#">C++ Polymorphism</a></li>
        <li><a href="#">C++ Files</a></li>
        <li><a href="#">C++ Exceptions</a></li>
        <li><a href="#">C++ Date</a></li>
       
     </ul>

     <h2>C++ Data Structures</h2>
     <ul>
        <li><a href="#">C++ Data Structures & STL</a></li>
        <li><a href="#">C++ Vectors</a></li>
        <li><a href="#">C++ List</a></li>
        <li><a href="#">C++ Stack</a></li>
        <li><a href="#">C++ Queues</a></li>
        <li><a href="#">C++ Deqeues</a></li>
        <li><a href="#">C++ Sets</a></li>
        <li><a href="#">C++ Maps</a></li>
        <li><a href="#">C++ Iterators</a></li>  
     </ul>
     <h1>C++ Strings</h1>
     <ul>
        <li><a href="#">C++ Strings</a></li>
     </ul>
   </div>
   
