<div class="sidebar">
   <h1>C Tutorial</h1>
    <ul>
      <li><a (click)="gotoHome()"> C Home</a> </li>
      <li><a (click)="gotoIntro()" >C Introduction</a></li>
      <li><a (click)="gotoStarted()">C Get Started</a></li>
      <li><a (click)="gotoSyntax()">C Syntax</a></li>
      <li><a (click)="gotoOutput()">C Output</a></li>
      <li><a (click)="gotoComments()">C Comments</a></li>
      <li><a (click)="gotovariables()">C Variables</a></li>
      <li><a (click)="gotoDatatypes()">C Data Types</a></li>
      <li><a (click)="gotoInput()">C Input</a></li>
      <li><a (click)="gotoContans()">C Constants</a></li>
      <li><a href="#">C Operators</a></li>
      <li><a href="#">C Booleans</a></li>
      <li><a href="#">C Switch</a></li>
      <li><a href="#">C For Loop</a></li>
      <li><a href="#">C While Loop</a></li>
      <li><a href="#">C Do While Loop</a></li>
      <li><a href="#">C Break/Continue</a></li>
      <li><a href="#">C Arrays</a></li>
      <li><a href="#">C Strings</a></li>
      <li><a href="#">C Memory Address</a></li>
      <li><a href="#">C Pointer</a></li>

      
    </ul>
    <h1>C Functions</h1>
    <ul>
        <li><a href="#">C Functions</a></li>
        <li><a href="#">C Function Parameters</a></li>
        <li><a href="#">C Recursion</a></li>
        <li><a href="#">C Math Fuctions</a></li>
        
    </ul>
  </div>
  