<div class="MainTitle">
    <h1>C Comments</h1>
</div>
<div class="sub">
    <h4>Let's Start C Comments</h4>
</div>
<div class="Defination">
    <p>Comments are used to explain code and it's make code readable and understandable for us</p>
    <p>There are Two Types of Comments</p>
    <strong>1.Single Line</strong>
    <br>
    <strong>2.Multiline Comments</strong>
</div>

<div class="single">
    <p>Lets Start with Single Line Comments</p>
    <p><strong>1.Single Line Comments</strong></p>
    <p>For Example</p>
    printf("Hello world") // This is single line comments
</div>

<div class="Multi">
    <p>Let's Start Multiple Line Comments</p>
    <p><strong>2.Multiple Line Comments</strong></p>
    
    <p>Multi-line comments start with /* and ends with */.
     Any text between /* and */ will be ignored by the compiler:</p>
<p>For Example</p>

<p>
      printf("hello world\n");

</p>
<p>
    /*This is<br>
     Multi-line <br>Comments*/
</p>

</div>
